@using BlogWebApp.BLL.Models.ViewModels.PostViews
@model ShowPostsViewModel

@{
    ViewData["Title"] = "GetPosts";
}
<div class="text-start">
    <h3>Все статьи</h3>
    <p><a class="link-dark" asp-area="" asp-controller="Post" asp-action="Create">Добавить статью</a></p>

    @{
        System.Diagnostics.Debug.Assert(Model.ShowPosts != null, "Model.ShowPosts != null");
    }
    @foreach (var post in Model.ShowPosts)
    {
        <div class="card w-auto mt-2 bgpowderblue">
            <div class="card-body">
                <p><a class="link-dark" asp-controller="Post" asp-action="GetPost" asp-route-id="@post.Id">@post.PostName</a></p>
                @foreach (var tag in @post.Tags)
                {
                    <span class="badge bg-info text-dark">@tag.TagText</span>
                }
                <br />
                <p class="card-text">@Model.MiniPost(post)</p>
                @if (User.Identity is { IsAuthenticated: true } && post.User != null)
                {
                    @if (User.Identity.Name == post.User.Email || User.IsInRole("Администратор"))
                    {
                        <form asp-action="Edit" asp-controller="Post" asp-route-id="@post.Id" method="get">
                            <button type="submit" class="btn btn-outline-secondary btn-sm">
                                Редактировать
                            </button>
                        </form>
                    }
                }
                <br />
            </div>
        </div>
    }
</div>