@using BlogWebApp.BLL.Models.ViewModels.PostViews
@using Microsoft.AspNetCore.Identity
@using BlogWebApp.BLL.Models.Entities
@model ShowPostAndCommentViewModel
@{
    ViewData["Title"] = "GetPost";
}

<div class="text-start">
    <div>
        <h3>@Model.ShowPost.postName</h3>
        @foreach (Tag tag in @Model.ShowPost.Tags)
        {
            <span class="badge bg-info text-dark">@tag.tagText</span>
        }
        <p class="lh-sm">@Model.ShowPost.postText</p>
        @if (@Model.ShowPost.User != null)
        {
            <p class="text-end">@Model.ShowPost.User.UserFirstName @Model.ShowPost.User.UserLastName</p>
        }
        else
        {
            <p class="text-end">Автор данной статьи удален из блога</p>
        }
        <hr class="mt-2 mb-3" />

        <h6>Комментарии к статье</h6>
        @foreach (Comment com in @Model.ShowPost.Comments)
        {
            <p class="text-left">@com.commentTexte</p>
            @if (User.IsInRole("Администратор"))
            {
                <form asp-action="Delete" asp-route-id="@com.id" asp-route-Postid=@Model.PostId asp-controller="Comment" method="post">
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                        Удалить комментарий
                    </button>
                </form>
            }
            @if (@com.User != null)
            {
                <p class="text-end">@com.User.UserFirstName @com.User.UserLastName</p>
            }
            else
            {
                <p class="text-end">Автор данного комментария удален из блога</p>
            }

        }
        <hr class="mt-2 mb-3" />
        <form method="post" asp-action="Create" asp-controller="Comment" asp-route-id="@Model.PostId">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <textarea class="form-control" id="inputDescription" rows="3" asp-for="Comment"></textarea>
                <span asp-validation-for="Comment"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">
                Оставить комментарий
            </button>
        </form>
        <p><a asp-area="" asp-controller="Post" asp-action="GetPosts">Перейти к списку всех статей</a></p>
    </div>
</div>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }