@using BlogWebApp.BLL.Models.ViewModels.PostViews
@using Microsoft.AspNetCore.Identity
@using BlogAPI.DATA.Models
@model ShowPostsViewModel

@{
    ViewData["Title"] = "GetPosts";
}
<div class="text-start">
    <h3>Все статьи</h3>
    <p><a asp-area="" asp-controller="Post" asp-action="Create">Добавить статью</a></p>
    @foreach (Post post in Model.ShowPosts)
    {
        <div class="card w-auto p-3" style="width: 18rem;">
            <div class="card-body">
                <p><a asp-controller="Post" asp-action="GetPost" asp-route-id="@post.id">@post.postName</a></p>
                @foreach (Tag tag in @post.Tags)
                {
                    <span class="badge bg-info text-dark">@tag.tagText</span>
                }
                <br />
                <p class="card-text">@Model.MiniPost(post)</p>
                <form asp-action="Edit" asp-controller="Post" asp-route-id="@post.id" method="get">
                    <button type="submit" class="btn btn-outline-secondary btn-sm">
                        Редактировать
                    </button>
                </form>
                <br />
            </div>
        </div>
    }
</div>

