@using BlogWebApp.BLL.Models.ViewModels;
@using BlogWebApp.BLL.Models.ViewModels.UserViews;

@model IEnumerable<ShowUserViewModel>
@{
    ViewData["Title"] = "GetUsers";
}
<div class="text-start">
    <h3>Все пользователи</h3>
    @if (User.Identity is {IsAuthenticated: true } && User.IsInRole("Администратор"))
    {
        <p><a class="link-dark" asp-area="" asp-controller="User" asp-action="Register">Добавить пользователя</a></p>
    }
    else
    {
        <p>Для добавления пользователей нужны права администратора</p>
    }
    @foreach (var user in Model)
    {
        <div class="card bgpowderblue mt-2 w-50">
            <div class="card-body">
                @if (User is {Identity.IsAuthenticated: true } && User.IsInRole("Администратор"))
                {
                    <p><a class="link-dark" asp-controller="User" asp-action="GetUserById" asp-route-id="@user.UserId">@user.UserName</a></p>
                }
                else 
                {
                    <p>@user.UserName</p>
                }

                @if (@user.UserRoles != null)
                {
                    foreach (var roleUser in @user.UserRoles)
                    {
                        <span class="badge bg-info text-dark">@roleUser</span>
                    }
                }
                <p class="card-text">@user.UserEmail</p>
            </div>
        </div>
    }
</div>