@using BlogWebApp.BLL.Models.ViewModels;
@using BlogWebApp.BLL.Models.ViewModels.UserViews;

@model IEnumerable<ShowUserViewModel>
@{
    ViewData["Title"] = "GetUsers";
}
<div class="text-start">
    <h3>Все пользователи</h3>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Администратор"))
    {
        <p><a asp-area="" asp-controller="User" asp-action="Register">Добавить пользователя</a></p>
    }
    else
    {
        <p>Для добавления пользователей нужны права администратора</p>
    }
    @foreach (var user in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p><a asp-controller="User" asp-action="GetUserById" asp-route-id="@user.UserId">@user.UserName</a></p>
                @foreach (string roleUser in @user.UserRoles)
                {
                    <span class="badge bg-info text-dark">@roleUser</span>
                }
                <p class="card-text">@user.UserEmail</p>
            </div>
        </div>
    }
</div>