@using BlogWebApp.BLL.Models.Entities
@model User[]
@{
    ViewData["Title"] = "GetUsers";
}
<div class="text-start">
<h3>Все пользователи</h3>
<p><a asp-area="" asp-controller="User" asp-action="Register">Добавить пользователя</a></p>
@foreach (User user in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p><a asp-controller="User" asp-action="GetUserById" asp-route-id="@user.Id">@user.UserFirstName @user.UserLastName.</a></p>
            @foreach (Role roleUser in @user.Roles)
            {
                <span class="badge bg-info text-dark">@roleUser.Name</span>                
            }
            <p class="card-text">@user.Email</p>
        </div>
    </div>
}
</div>

