@using BlogWebApp.BLL.Models.ViewModels.UserViews;

@model EditUserViewModel

@{
    ViewData["Title"] = "Редактирование пользователя";
}

<div class="text-start">
    <div>
        <h3 style="text-align: left">Редактирование пользователя @Model.Email</h3>
        <br>
        <form method="post" asp-action="Edit" asp-controller="User" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="InputId" class="form-label">Id</label>
                <input type="text" class="form-control bgpowderblue" id="InputId" asp-for="Id" value="@Model.Id" readonly>
            </div>
            <div class="mb-3">
                <label for="InputFirstname" class="form-label">Имя</label>
                <input type="text" class="form-control bgpowderblue" id="InputFirstname" asp-for="UserFirstName" value="@Model.UserFirstName">
                <span asp-validation-for="UserFirstName"></span>
            </div>
            <div class="mb-3">
                <label for="InputLastname" class="form-label">Фамилия</label>
                <input type="text" class="form-control bgpowderblue" id="InputLastname" asp-for="UserLastName" value="@Model.UserLastName">
                <span asp-validation-for="UserLastName"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Почтовый адрес</label>
                <input type="email" class="form-control bgpowderblue" id="exampleInputEmail1" asp-for="Email" value="@Model.Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Пароль</label>
                <input type="password" class="form-control bgpowderblue" id="exampleInputPassword1" asp-for="UserPassword" value="@Model.UserPassword">
                <span asp-validation-for="UserPassword"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
        </form>
        <br>
        <form method="post" asp-action="DeleteUser" asp-controller="User" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-danger btn-sm">Удалить</button>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }