@using BlogWebApp.BLL.Models.Entities
@model User[]
@{
    ViewData["Title"] = "GetUsers";
}

@foreach (User user in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@user.UserFirstName @user.UserLastName</h5>
            @foreach (Role roleUser in @user.Roles)
            {
                <span class="badge bg-info text-dark">@roleUser.RoleName</span>                
            }
            <p class="card-text">@user.UserLogin</p>
        </div>
    </div>
}

